/* Estilos general para la pagina index */
*{
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
}

/* Estilos para el body */
.body{
    margin: 0;
    padding: 0;

}
/* Estilos para todas las etiquetas a */
a{
    text-decoration: none;
}
/* Texto grnade "Bienvenido" */
.text-image{
    user-select: none;
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    font-size: 10vmax; 
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
/* Texto pequeño descripcion */
.content-info{
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: 
    center; color: white;
    font-size: 1.2vmax;
}
/* boton de la pagina */
.button-image{
    position: absolute;
    width: 15%;
    text-align: center;
    top: 75%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #16c1c8; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 8px; 
    font-size: 1vmax; 
    cursor: pointer;
    text-decoration: none;
}

header {
    padding: 10px; 
    text-align: center; 
    background-image: url('../images/fondo-header.png');
    background-size: cover;
}
.img-header{
    max-width:10%;
}
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

li {
    display: inline; 
    margin-right: 20px; 
    
}
.a-header{
    
    color: #000;
    text-decoration: none;
    /* color: white; */
    font-weight: bold;  
}

.a-header:hover{
    color: #16c1c8;
}
.div-servicios{
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.div-servicios img{
   height: 250px;
}
.img-servicios {
    width: 30%;
    display: inline-block;
    margin-left: 2%; /* Adjust the margin as needed */
  }

